*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: solid 2px red;
}

nav{
    border: solid 2px purple;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 12px;
}

.left{
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

main{
    width: 980px;
    border: solid 2px blue;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.main-left{
    border: solid 2px brown;
    width: 600px;
    height: 620px;
}

.main-right{
    border: solid 2px brown;
    width: 300px;
    height: 620px;
}