h1{
    color: blue;
    background-color: beige;
    text-align: center;
    text-decoration: underline;
}

.second-p{
    font-style: italic;
    font-weight: 600;
}

img{
    width: 250px;
    height: 250px;
}

.first-p{
    font-size: 22px;
}