*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: solid 2px purple;
    height: 100vh;
}

nav{
    border: solid 2px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2B77E4;
}
h1{
    border: solid 2px pink;
}

.nav-right{
    border: solid 2px pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.nav-right img{
    width: 50px;
}

a{
    color: white;
}

input{
    border-radius: 50px;
    padding: 5px;
}

main{
    border: solid 2px brown;
    width: 970px;
    margin: 0 auto;
}

main img{
    width: 100%;
}

.products{
    border: solid 2px green;
    display: flex;
    justify-content: space-between;
}

.product{
    border: solid 2px black;
    width: 140px;
    text-align: center;
}

.product img {
    height: 300px;
}